<ng-container *ngIf="planet$ | async as planet">
  <app-details
    [title]="planet.name"
    subtitle="Planetdetails"
    [details]="[
      { label: 'Klima', value: planet.climate },
      { label: 'Terrain', value: planet.terrain },
      { label: 'Population', value: planet.population },
      { label: 'Durchmesser (km)', value: planet.diameterKm },
      { label: 'Gravitation', value: planet.gravity }
    ]"
    [films]="planet.films"
    [imageUrl]="planet.imageUrl"
    [dotsCount]="3"
  ></app-details>
</ng-container>
