<ng-container *ngIf="person$ | async as person">
  <app-details
    [mode]="'character'"
    [title]="person.name"
    subtitle="Characterdeatils"
    [details]="[
      { label: 'Größe', value: person.heightCm ? (person.heightCm + 'cm') : '' },
      { label: 'Gewicht', value: person.massKg ? (person.massKg + 'kg') : '' },
      { label: 'Haarfarbe', value: '' },
      { label: 'Augenfarbe', value: '' },
      { label: 'Geburtsjahr', value: person.birthYear },
      { label: 'Geschlecht', value: person.gender }
    ]"
    [homeworld]="person.homeworld"
    [filmsUrls]="person.films"
    [planetsUrls]="person.planets"
    [starshipsUrls]="person.starships"
    [vehiclesUrls]="person.vehicles"
    [imageUrl]="person.imageUrl"
    [dotsCount]="3"
  ></app-details>
</ng-container>
