<ng-container *ngIf="character$ | async as character">
  <app-details
    [title]="character.name"
    subtitle="Characterdeatils"
    [details]="[
      { label: 'Größe', value: character.details.height },
      { label: 'Gewicht', value: character.details.weight },
      { label: 'Haarfarbe', value: character.details.hair_color },
      { label: 'Augenfarbe', value: character.details.eye_color },
      { label: 'Geburtsjahr', value: character.details.birth_year },
      { label: 'Geschlecht', value: character.details.gender }
    ]"
    [planet]="character.homeworld"
    [filmsUrls]="character.films"
    [imageUrl]="character.imageUrl"
    [dotsCount]="3"
  ></app-details>
</ng-container>
