html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  background-color: #FFFFFF;
  color: #0A1931;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
