<div class="container">
  <header class="header">
    <p class="pre-title">Filmdeatils</p>
    <div class="title-divider"></div>
    <h1 class="main-title">{{ title }}</h1>
    <h2 class="episode-title">{{ episodeTitle }}</h2>
  </header>
  <main class="grid-container">
    <div class="left-column">
      <section class="details-section">
        <h3>Details:</h3>
        <p class="details-item"><strong>Director:</strong> {{ filmDetails.director }}</p>
        <p class="details-item"><strong>Produzenten:</strong> {{ filmDetails.producers }}</p>
        <p class="details-item"><strong>Erscheinungsdatum:</strong> {{ filmDetails.releaseDate | date:'dd.MM.yyyy' }}</p>
      </section>

      <p class="synopsis">{{ synopsis }}</p>

      <section class="characters-section">
        <h3>Charaktere:</h3>
        <div class="characters-list">
          <div *ngFor="let character of displayedCharacters"
               class="character-chip"
               (click)="navigateToCharacter(character.url)">
            {{ character.name }}
          </div>
          <!-- Dots will be rendered if more than 3 characters exist and by clicking on them the add character modal will be opened-->
          <button *ngIf="isMoreThanTree() && !showAllCharacters"
                  class="character-chip"
                  type="button"
                  (click)="openAddCharacterModal()">
            ...
          </button>
        </div>
      </section>

      <section class="planets-section">
        <h2>Planeten:</h2>
        <button class="character-chip"
                type="button"
                (click)="openAddPlanetPopup()">
          ...
        </button>
      </section>
    </div>
    <div class="right-column">
      <div class="image-carousel">
        <img [src]="currentImage" alt="Image" class="carousel-image">
        <div class="pagination">
          <span
            *ngFor="let image of images; let i = index"
            class="dot"
            [class.active]="currentImageIndex === i"
            (click)="selectImage(i)">
          </span>
        </div>
      </div>
    </div>
  </main>

  <!-- Add Character Modal -->
  <div class="modal-backdrop" *ngIf="showAddCharacterModal" role="dialog" aria-modal="true">
    <div class="modal-content">
      <app-add-character (close)="closeAddCharacterModal()"></app-add-character>
    </div>
  </div>
  <!-- Add Planet Modal -->
  <div class="modal-backdrop" *ngIf="showAddPlanetModal" role="dialog" aria-modal="true">
    <div class="modal-content">
      <app-add-planet class="modal-form" (close)="closeAddPlanetModal()"></app-add-planet>
    </div>
  </div>
</div>
