<div class="container">
  <header class="header">
    <p class="pre-title">Filmdeatils</p>
    <div class="title-divider"></div>
    <h1 class="main-title">{{ title }}</h1>
    <h2 class="episode-title">{{ episodeTitle }}</h2>
  </header>
  <main class="grid-container">
    <div class="left-column">
      <section class="details-section">
        <h3>Details:</h3>
        <p class="details-item"><strong>Director:</strong> {{ filmDetails.director }}</p>
        <p class="details-item"><strong>Produzenten:</strong> {{ filmDetails.producers }}</p>
        <p class="details-item"><strong>Erscheinungsdatum:</strong> {{ filmDetails.releaseDate }}</p>
      </section>

      <p class="synopsis">{{ synopsis }}</p>

      <section class="characters-section">
        <h3>Charaktere:</h3>
        <div class="characters-list">
          <!-- Show up to 3 characters -->
          <div *ngFor="let character of characters | slice:0:3" class="character-chip">
            {{ character.name }}
          </div>
          <!-- If more than 3 characters, show an ellipsis as the 4th chip -->
          <div *ngIf="isMoreThanTree()" class="character-chip">...</div>
        </div>
      </section>
    </div>
    <div class="right-column">
      <div class="image-carousel">
        <img [src]="currentImage$ | async" alt="Close-up portrait of Queen Amidala in her ornate red and gold royal attire and traditional white face makeup with red markings." class="carousel-image">
        <div class="pagination">
          <span
            *ngFor="let image of images; let i = index"
            class="dot"
            [class.active]="(currentImageIndex$ | async) === i"
            (click)="selectImage(i)">
          </span>
        </div>
      </div>
    </div>
  </main>
</div>
