<div class="container planets-page-container">
  <h1 class="page-title">Planeten</h1>
  <div class="planet-grid">
    <ng-container *ngIf="planets$ | async as planets">
      <app-card
        *ngFor="let p of planets"
        [imageUrl]="p.imageUrl"
        [imageAlt]="p.imageAlt"
        [title]="p.name"
        [lines]="[
          { label: 'Klima', value: p.climate },
          { label: 'Gelände', value: p.terrain },
          { label: 'Durchmesser', value: p.diameterKm + ' km' }
        ]"
        [moreInfoHref]="getPlanetDetailHref(p)"
      ></app-card>
      <ng-container *ngIf="!planets || planets.length === 0">
        <p>Keine Planeten gefunden.</p>
      </ng-container>
    </ng-container>
  </div>
</div>


