    <div class="background-container">
      <div class="background-blur blur-left"></div>
      <div class="background-blur blur-right"></div>
    </div>
    <main class="main-container">
      <div class="form-card">
        <h2 class="form-title">Charakter hinzufügen</h2>
        <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">

          <div class="form-group full-width">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Name eingeben">
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="size">Größe</label>
              <input type="text" id="size" formControlName="size" placeholder="Meter">
            </div>
            <div class="form-group">
              <label for="weight">Gweicht</label>
              <input type="text" id="weight" formControlName="weight" placeholder="Kg">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="hairColor">Haarfarbe</label>
              <input type="text" id="hairColor" formControlName="hairColor" placeholder="Haarfarbe eingeben">
            </div>
            <div class="form-group">
              <label for="eyeColor">Augenfarbe</label>
              <div class="select-wrapper">
                <select id="eyeColor" formControlName="eyeColor">
                  <option *ngFor="let color of eyeColorOptions" [value]="color.value">{{ color.label }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="birthYear">Geburtsjahr</label>
              <input type="text" id="birthYear" formControlName="birthYear" placeholder="YYYY">
            </div>
            <div class="form-group">
              <label for="gender">Geschlecht</label>
              <div class="select-wrapper">
                <select id="gender" formControlName="gender">
                  <option *ngFor="let gender of genderOptions" [value]="gender.value">{{ gender.label }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="button-group">
            <button type="button" class="btn btn-cancel">Abbrechen</button>
            <button type="submit" class="btn btn-submit">Charakter hinzufügen</button>
          </div>
        </form>
      </div>
    </main>
