<header class="app-header">
  <div class="container header-container">
    <div class="logo-nav">
      <a class="logo" routerLink="/films-list" aria-label="Go to films view">
        <img src="assets/logo.png" width="60" height="50" alt="App logo"/>
      </a>
      <nav>
        <ul>
          <li><a routerLink="/main">Star Wars</a></li>
          <li><a routerLink="/films-list" routerLinkActive="active">Filme</a></li>
          <li><a routerLink="/people-list" routerLinkActive="active">Charaktere</a></li>
          <li><a routerLink="/planets-list" routerLinkActive="active">Planeten</a></li>
        </ul>
      </nav>
    </div>
    <div class="search-container">
      <input type="text" placeholder="Suche">
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>
</header>


