<div class="people-card" *ngIf="person">
  <img [src]="person.imageUrl" [alt]="person.imageAlt">
  <div class="card-content">
    <h2>{{ person.name }}</h2>
    <div class="details">
      <p><strong>Geschlecht:</strong> {{ person.gender }}</p>
      <p><strong>Geburtsjahr:</strong> {{ person.birthYear }}</p>
      <p><strong>Größe:</strong> {{ person.heightCm }} cm</p>
      <p><strong>Masse:</strong> {{ person.massKg }} kg</p>
    </div>
    <a href="#" class="more-info">Mehr Informationen....</a>
  </div>
</div>


